<template>
  <div class="row">
    <app-stock v-for="stock in stocks" :stock="stock"></app-stock>
  </div>
</template>

<script>
  import Stock from './Stock';
  import {mapGetters} from 'vuex';

  export default {
    data() {
      return {}
    },
    components: {
      appStock: Stock,
    },
    computed: {
      ...mapGetters({
        stocks: 'stockPortfolio'
      })
    }
  }
</script>

<style scoped>

</style>
