<template>
  <div class="col-sm-6 col-md-4">
    <div class="card border-info w-90 mb-4 mt-2">
      <div class="card-header">
        <div class="d-flex justify-content-between">
          <h5 class="card-title my-auto">{{ stock.name }}</h5>
          <span class="card-subtitle text-muted my-auto">
            (Price {{ stock.price | currency }} | Quantity {{ stock.quantity }})
          </span>
        </div>
      </div>
      <div class="card-body text-success">
        <div class="d-flex justify-content-between">
          <div class="mr-3">
            <input type="number" placeholder="Quantity" class="form-control"
                   v-model="quantity"
                   :class="{'is-invalid' : insufficientQuantity }"/>

            <div class="invalid-feedback">
              Not enough stocks.
            </div>
          </div>

          <div>
            <button class="btn btn-success"
                    @click="sellStock"
                    :disabled="insufficientQuantity || quantity <= 0">Sell</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapActions} from 'vuex';

  export default {
    props:['stock'],
    data() {
      return {
        quantity : 0,
      }
    },
    computed: {
      insufficientQuantity() {
        return this.quantity > this.stock.quantity;
      }
    },
    methods: {
      ...mapActions({
        placeSaleOrder : 'sellStock'
      }),
      sellStock() {
        const order = {
          id: this.stock.id,
          price : this.stock.price,
          quantity : this.quantity,
        };
        this.placeSaleOrder(order);
        this.quantity = 0;
      }
    }
  }
</script>

<style scoped>

</style>
