<template>
    <div class="col-sm-6 col-md-4">
      <div class="card border-success w-90 mb-4 mt-2">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <h5 class="card-title my-auto">{{ stock.name }}</h5>
            <span class="card-subtitle text-muted my-auto">(Price {{ stock.price | currency  }})</span>
          </div>
        </div>
        <div class="card-body text-success">
          <div class="d-flex justify-content-between">
            <div class=" mr-3">
              <input type="number" placeholder="Quantity" class="form-control"
                     v-model="quantity" :class="{ 'is-invalid' : insufficientFunds}"/>
              <div class="invalid-feedback">
                Insufficient funds.
              </div>
            </div>

            <div>
              <button class="btn btn-success"
                      @click="buyStock"
                      :disabled="insufficientFunds || quantity <= 0">Buy</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
    export default {
      props:['stock'],
      data() {
        return {
          quantity : 0,
        }
      },
      computed: {
        funds() {
          return this.$store.getters.funds;
        },
        insufficientFunds() {
          return (this.quantity * this.stock.price) > this.funds;
        }
      },
      methods: {
        buyStock() {
          const order = {
            id: this.stock.id,
            price : this.stock.price,
            quantity : parseInt(this.quantity),
          };
          this.quantity = 0;
          this.$store.dispatch('buyStock', order);
        }
      }
    }
</script>

<style scoped>

</style>
