<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <router-link to="/" class="navbar-brand">StocksExApp</router-link>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <router-link to="/portfolio" class="nav-item" tag="li" activeClass="active">
          <a class="nav-link">Portfolio</a>
        </router-link>
        <router-link to="/stocks" class="nav-item" tag="li" activeClass="active">
          <a class="nav-link">Stocks</a>
        </router-link>
      </ul>
    </div>

    <div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#"
             @click="endDay">End Day</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             href="#" id="navbarDropdownMenuLink"
             role="button"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false" @click="isDropOpen = !isDropOpen">
            Save / Load
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" :class="{'show' : isDropOpen }">
            <a class="dropdown-item" href="#" @click="saveData">Save data</a>
            <a class="dropdown-item" href="#" @click="loadData">Load data</a>
          </div>
        </li>

        <li>
          <strong class="navbar-text">Funds: {{ funds | currency }}</strong>
        </li>

      </ul>
    </div>
  </nav>
</template>

<script>
  import {mapActions} from 'vuex';

  export default {
    data() {
      return {
        isDropOpen: false,
      }
    },
    computed: {
      funds() {
        return this.$store.getters.funds;
      }
    },
    methods: {
      ...mapActions({
        randomizedStocks: 'randomizedStocks',
        fetchData: 'loadData'
      }),
      endDay() {
        this.randomizedStocks();
      },
      saveData() {
        const data = {
          funds: this.$store.getters.funds,
          stockPortfolio: this.$store.getters.stockPortfolio,
          stocks: this.$store.getters.stocks,
        };
        this.$http.put('data.json', data);
        this.isDropOpen = false;
      },
      loadData() {
        this.fetchData();
        this.isDropOpen = false;
      }
    }
  }
</script>

<style scoped>

</style>
